.dashboard {
  width: 100%;
  max-width: 1400px;
  background-color: white;
  padding: 40px 24px 32px 24px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.10);
  margin: 40px auto;
}

.dashboard h1 {
  color: #6a47f2;
}

.stats {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.stat-item {
  background-color: #ffffff;
  padding: 18px;
  border-radius: 8px;
  text-align: center;
  flex: 1;
  box-shadow: 0 2px 5px rgba(0,0,0,0.07);
}

.stat-item h3 {
  margin: 0;
  font-size: 24px;
  color: #363636;
  font-weight: bold;
}

.stat-item p {
  margin: 0;
  color: #6a47f2;
  font-size: 14px;
}